@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@500&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p#title {
  font-family: 'Roboto', sans-serif;
  padding: 40px;
}

.grid4x4 {
  min-height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.grid4x4 > a {
  display: flex; 
  flex-basis: calc(25% - 40px);  
  justify-content: center;
  flex-direction: row;
  border: 2px solid green;
  margin: 20px;
  background-color: rgb(207, 230, 238);
}

.grid4x4 > a > div {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
}

.grid2x2 {
  min-height: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.grid2x2 > a {
  display: flex; 
  flex-basis: calc(25% - 40px);  
  justify-content: center;
  flex-direction: row;
  border: 2px solid green;
  margin: 20px;
  background-color: rgb(207, 230, 238);
}

.grid2x2 > a > div {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#guess {
  border: none;
  outline: none;
  border-bottom: 2px solid green;
}

#lyrics {
  text-align: center;
}

a.box.genre.completed {
  background-color: rgb(58, 57, 57);
  border: 2px solid black;
  color: rgb(97, 96, 96);
  pointer-events: none;
}

.endgame {
  padding: 20px;
}

.highscore {
  font-family: 'Permanent Marker', cursive;
}

.table {
  width: 60%;
}