{% extends 'base.html' %}

{% block content %}

<h1>GAME OVER!</h1>
<h3>{{ name }} you scored {{ score }} points!</h3>

<h3>Top Scores</h3>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for pos, player in top_five %}
        <tr>
            <th scope="row">{{ pos }}</th>
            <td>{{ player.username }}</td>
            <td>{{ player.high_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-outline-success" id="game-over">Play Again??</button>


{% endblock %}