{% extends 'base.html' %}

{% block content %}

<h1>GAME OVER!</h1>
<h3>Name: {{ name }}</h3>
<h3>Score: {{ score }}</h3>

<h3>Top Scores</h3>

<!---
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>KenboSlice</td>
            <td>85000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>KurlyLegs</td>
            <td>78500</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>LMPBizkit</td>
            <td>99000</td>
        </tr>
    </tbody>
</table> -->

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for pos, player in top_five %}
        <tr>
            <th scope="row">{{ pos }}</th>
            <td>{{ player.username }}</td>
            <td>{{ player.high_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-outline-success" id="game-over">Play Again??</button>


{% endblock %}