{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Sign up to save score</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-info btn-lg btn-block" id="signup">Sign me up!</button>
      </form>
    </div>
  </div>

  <hr>

  <h4 class="join-message">Already have an account??</h4>
  <div class="row justify-content-md-center">
    <a class="btn btn-info btn-lg" id="login" href='/login'>Login Here!</a>
  </div>

{% endblock %}